---
import "../styles/global.css";
import { siteConfig } from "../config/site-config";

const {
  siteTitle,
  siteDescription,
  siteUrl,
  siteAuthor,
  siteSocial,
  siteNav,
  siteLang,
  siteTheme,
  siteDefaultHeroImage
} = siteConfig;

const {
  title,
  description,
  author,
  setOGTypeArticle = false,
  jsonLd,
  heroImage
} = Astro.props;

// set schema to jsonLd for articles if present, otherwise use jsonLd for websites
let pageJsonLd;
if(jsonLd) {
  pageJsonLd = jsonLd;
} else {
  pageJsonLd = {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": siteTitle,
    "url": Astro.site,
    "image": siteDefaultHeroImage.image.src,
    "potentialAction": {
      "@type": "SearchAction",
      "target": `${Astro.site}search?q={search_term_string}`,
      "query-input": "required name=search_term_string"
    }
  };
}

// set title to siteTitle(default) if title is not passed as a prop
const pageTitle: string = title ? title : siteTitle;
// set description to siteDescription(default) if description is not passed as a prop and title if description is undefined
const pageDesc: string = description || title || siteDescription;
// set author to siteAuthor(default) if author is not passed as a prop
const pageAuthor: string = author ? author : siteAuthor.name;
// set heroImage src and alt to siteDefaultHeroImage(default) if heroImage is not passed as a prop
const pageHeroImageSrc: string = heroImage ? heroImage.image.src : siteDefaultHeroImage.image.src;
const pageHeroImageAlt: string = heroImage ? heroImage.alt : siteDefaultHeroImage.alt;
---

<html lang={siteLang || "en"} data-theme={siteTheme || "light"}>
  <head>
    <title>{pageTitle}</title>

    <meta charset="UTF-8" />
    <meta name="description" content={pageDesc} />
    <meta name="author" content={pageAuthor} />

    <meta property="og:site_name" content={pageTitle} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDesc} />
    <meta property="og:image" content={pageHeroImageSrc} />
    <meta property="og:image:alt" content={pageHeroImageAlt} />
    {
      setOGTypeArticle ? (
        <meta property="og:type" content="article" />
      ) : (
        <meta property="og:type" content="website" />
      )
    }

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:description" content={pageDesc} />
    <meta name="twitter:image" content={pageHeroImageSrc} />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <script type="application/ld+json" set:html={JSON.stringify(pageJsonLd)}></script>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>

  <body class="min-h-screen bg-gray-50 text-gray-900">
    <header class="p-4 border-b">My Blog Header</header>

    <main class="max-w-3xl mx-auto p-4">
      <slot />
    </main>
    <footer class="p-4 border-t mt-8">Footer</footer>
  </body>
</html>
