---
import BaseLayout from "@/layouts/BaseLayout.astro";

const { post } = Astro.props;

const { title, description, author, pubDate, updatedDate, heroImage } =
  post.data;

const jsonLd = {
  "@context": "https://schema.org",
  "@type": "Article",
  headline: title,
  description: description,
  author: {
    "@type": "Person",
    name: author,
  },
  datePublished: pubDate.toISOString(),
  dateModified: updatedDate.toISOString(),
  image: heroImage.image.src,
  url: Astro.url.href,
};
---

<BaseLayout
  title={title}
  description={description}
  author={author}
  setOGTypeArticle={true}
  jsonLd={jsonLd}
  heroImage={heroImage}
>
<article>
    <div class="affiliate-txt bg-neutral text-center py-3 px-1">
      <p class="text-sm m-0">
        Our editors carefully select every product we recommend. We may earn a
        commission from these links. <a
          href="/about"
          class="underline hover:no-underline text-white">Learn more</a
        >
      </p>
    </div>
    <slot />
  </article>
</BaseLayout>
